<% include partials/_header%>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-bordered table-hover text-center">
                    <tr>
                        <th>DNI</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                    <% for(var i = 0; i < data.length; i++) {%>
                        <tr>
                            <td><%= data[i].dni %></td>
                            <td><%= data[i].nombres %></td>
                            <td><%= data[i].apellidos %></td>
                            <td>
                                <a href="/editar/<%= data[i].dni %>" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                </a>
                                <a href="/borrar/<%= data[i].dni %>" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Borrar
                                </a>
                            </td>
                        </tr>
                    <% } %>
                    
                </table>
                
            </div>
            <div class="col-md-5">
                <div class="card-body">
                        <h3>Agregar Persona</h3>
                        <form action="/agregar" method="POST">
                            
                            <div class="form-group">
                                <input type="text" name="dni" placeholder="Dni" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombres" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellidos" placeholder="Apellidos" class="form-control">
                            </div>
                                                        
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
<% include partials/_footer%>